<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=green} | %style{%c{10}}{cyan} : %m%n%ex"/>
        </Console>
        <File name="LogFile" fileName="logs/latest.log">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} %5p | %c{10} : %m%n%ex"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>